html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
	border: none;
}

button:hover{
	border: none;
}
button:active, button:focus {
	outline: none;
  }
  button::-moz-focus-inner {
	border: 0;
  }

.container{
	height: 100vh;
	padding: 22px 36px 18px 36px;
}
.spiner {
	margin: 20px 0;
	margin-bottom: 20px;
	padding: 30px 50px;
	text-align: center;
	border-radius: 4px;
	height: 100vh;
  }




.pagination{
	justify-content: center;
	margin-top:  49px ;
	font-size: 12px;

}

.warn-text{
	margin-top: 20px;
	display: block;
	color: #1890FF;
	font-size: 25px;
	text-align: center;
}