.card{
    display: flex;
    flex-direction: row;
    width: 454px;
    height: 281px;
    
    

}

.card__photo{
    width: 183px;
    height: 281px;
    object-fit: none;

}

.card__title{
    font-weight: 400;
    font-size: 20px;
}

.card__plot{
    width: 228px;
    height: 129px;
    overflow: hidden;
}

.card__description{
    padding: 12px 20px 49px 20px;
   
}


p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}