.card{
    position: relative;
    width: 454px;
    height: 281px;

}
.card__description .card__title{
    font-weight: 400;  
}

.ant-typography h4 {
    margin-bottom: 0;
 }



.card__description{
    height: 235px; 
    overflow: hidden;
}

.card__date{
    margin-bottom: 7px;
}

.card__genres {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    max-height: 30px;
    overflow: hidden;  
}
kbd{
 color: black;
}

.card__stars{
    width: 239px;
    height: 46px;
    font-size: 16px;
}
.card__mark{
    position: absolute;
    right: 9px;
    top:12px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;

}

.ant-image .ant-image-img{
    width:  100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 700px ) {
    .card__date{
        font-weight: 400;
        font-size: 12px;
    }
    .card__plot{
        font-size: 14px;
    }
    .card__info{
        display: flex;
        flex-direction: column;
    }
    .ant-image{
     position: absolute;
      height: 91px;
      width: 60px;  
      left:10px;
      top:6px;
    }
    .ant-typography h4 , .card__date, .card__genres{
       padding:  7px 45px  0 80px;
    }

    .card__plot{
        padding:  21px 10px 0px 10px;
      
    }
    .card__stars{
        margin-left: auto;
    }  
}

@media (min-width: 701px ) {
    .card__date, .card__plot{
        font-weight: 400;
        font-size: 12px;
    }
    .card__info{
        display: flex;
        flex-direction: column;
    }
    .ant-image{
     position: absolute;
      height: 280px;
      width: 181px;  
    }
    .card__info{
       padding:  7px 10px  0 201px;
    }
    .card__title{
        padding-right: 45px;
    }

    
}





